<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>


    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <script src="{{ url_for('static', filename='js/login_script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exchangerateAPI.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flightAPI.js') }}"></script>

    <script type="text/javascript">
        window.onload = checkWeb3Metamask();
        console.log("hello world! From login_template");
        console.log(flightAPI('SQ','979','2018/11/28'));
        console.log(exchangerateAPI("USD"));

    </script>

</head>
<body>

</body>
</html>