<!DOCTYPE HTML>
<html>
    <head>
        <title>blockchain</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			
			
		<script src="{{ url_for('static', filename='js/login_script.js') }}"></script>
		<script src="{{ url_for('static', filename='js/exchangerateAPI.js') }}"></script>
		<script src="{{ url_for('static', filename='js/flightAPI.js') }}"></script>
		<script src="{{ url_for('static', filename='js/buy_helpers.js') }}"></script>


		<link rel="stylesheet" type="text/css"
			  href="{{ url_for('static', filename='css/buy_wrapper.css') }}"
			  media="screen" />

        <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script lang="javascript">
			console.log("hello world! From test_template");

        </script>
    </head>
    <body class="subpage">
		<div id="buy-wrapper" class="buy-wrapper">
			<h1>Welcome {{userID | safe}}! Check out console for logs</h1>
			<h2> Test template is being rendered </h2>

			<!-- For testing ONLY -->
			<form action="/login" method="post">
				Trial login functionality:
				<input type="text" name="test-login" id="test-login" value="">
			</form>


			<div id="buy-new-contract_wrapper" class="buy-new-contract_wrapper">
				<div>
					<p>Please choose the type of trip:</p>
					<button type='button' onclick="oneWayTrip()"> 1-way trip </button>
					<button type='button' onclick="twoWayTrip()"> Round trip </button>
				</div>

				<div id="price-component">
					<p id="payment_amount">Payment Amount: </p>
				</div>

				<div id="loyalty-points_component">
					<p> Current Loyalty points: {{loyalty_points | safe}}</p>
				</div>

				<div id="flight-status_component">
					<!-- Checking of flight status -->
					<p id="flight_status">Flight Availability: Unknown</p>

					<form action="javascript:void(0);">
						<label for="_flight_company">Company:</label>
						<input type="text" name="_flight_company" id="_flight_company" placeholder="SQ">

						<label for="_flight_number">Flight Number:</label>
						<input type="text" name="_flight_number" id="_flight_number" placeholder="391">

						<label for="_flight_date">Flight Date:</label>
						<input type="text" name="_flight_date" id="_flight_date" placeholder="YYYY/MM/DD">

						<input type="submit" value="Check Flight" onclick="checkFlight(
							_flight_company.value,
							_flight_number.value,
							_flight_date.value);">
					</form>
				</div>

				<div id="payment-method_component">
					<!-- Payment method selection -->
					<p>Please select payment method:</p>
					<span id="payment-method_selected" style="display: none;"></span>
					<p id="selected-option_display">Selected Option: None</p>

					<button type='button' onclick="setPaymentOption('ETH')"> ETH </button>
					<button type='button' onclick="setPaymentOption('Points')"> Loyalty Points </button>

				</div>

				<button type="submit" onclick="testBuy()">Submit Insurance!</button>

			</div>
			<hr style="border: 4px solid blue;" />
			<div>
				<h3>Active Contracts</h3>
				<hr style="border: 4px solid blue;" />
				<div id="active-contracts">
					{{active_contracts | safe}}
				</div>
			</div>
		</div>


    </body>
</html>
